.ellipsis {
  padding-top: 10%;
  height: 90%;
}

.ellipsis img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.ellipsis .ellipsis__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-bottom: 16px;
}

.ellipsis__header .ellipsis__header-content {
  padding-left: 16px;
}

.ellipsis__name {
  font-size: 36px;
  font-weight: 700;
}

.ellipsis__column {
  padding: 16px 0px;
}

.ellipsis__column .ellipsis__column-status,
.ellipsis__column .ellipsis__column-file,
.ellipsis__column .ellipsis__column-people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 16px;
  background-color: black;
  border-bottom: #808080 solid 1px;
}

.ellipsis__column .ellipsis__column-status:first-child,
.ellipsis__column .ellipsis__column-file:first-child,
.ellipsis__column .ellipsis__column-people:first-child {
  border-top: #808080 solid 1px;
}

.ellipsis__column-status .ellipsis__icon,
.ellipsis__column-file .ellipsis__icon,
.ellipsis__column-people .ellipsis__icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  display: table-cell;
  text-align: center;
}

.ellipsis__icon i {
  font-size: 24px;
}

.ellipsis__title {
  font-size: 16px;
  font-weight: 300;
}
